[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "quattro"
authors = [{name = "Tin Tvrtkovic", email = "tinchester@gmail.com"}]
classifiers = ["License :: OSI Approved :: Apache Software License"]
dynamic = ["description"]
version = "22.1.0"
requires-python = ">=3.9"
dependencies = ["exceptiongroup; python_version < '3.11'"]
readme = "README.rst"

[project.optional-dependencies]
dev = [
    "pytest-asyncio",
    "coverage",
    "black",
    "flake8",
    "mypy",
    "isort",
]

[tool.isort]
profile = "attrs"

[[tool.mypy.overrides]]
module = "asyncio.taskgroups"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "exceptiongroup"
ignore_missing_imports = true