[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "quattro"
authors = [{name = "Tin Tvrtkovic", email = "tinchester@gmail.com"}]
classifiers = ["License :: OSI Approved :: Apache Software License"]
dynamic = ["description"]
version = "0.1"
requires-python = ">=3.8"
dependencies = []
readme = "README.rst"

[project.optional-dependencies]
dev = [
    "pytest-asyncio",
    "coverage",
    "black",
    "flake8",
    "mypy",
    "isort",
]

[tool.isort]
profile = "attrs"
